.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2f4e41;
  padding: 1rem 1rem 1rem 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.logo-img {
  width: 60px;
  height: auto;
}

.get-help {
  text-decoration: none;
  color: rgb(142, 202, 185);
  background: none;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  border: none;
  transition: all 0.3s;
}

.get-help:hover,
.get-help:active {
  background-color: #66a087;
  color: white;
}

.main-nav-list {
  list-style: none;
}

.logo {
  height: 2.2rem;
}

.nav-bar-element {
  margin-right: 4%;
<<<<<<< Updated upstream
  color: white;
=======
  color:white;
  text-decoration: none;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  transition: all 0.25s;
}

.nav-bar-element:active,
.nav-bar-element:hover {
  text-decoration: underline;
}
