.title{
    padding: 3rem;
    text-align: center;
}
.bg{
    background-color: #E0DDAA;
}

.plus{
    margin-left: 10px;
    margin-right: 10px;
}

/*Stuff*/


.boxes {
    margin-left: 40px;
    margin-right:40px;
    width: 1000px;
    height:700px;
    box-shadow: 10px 5px 15px #7e7d8c;
}

#help-lines{

    background-color: #8FC0A9;
    
}

#websites{

    background-color: #EEEDDE;
    
}

#centers{

    background-color: #8FC0A9;
    
}


.box-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;

}

.boxes {
    padding-top: 40px;
}

.ResourceLinks {
    text-decoration: none;
    color: rgb(0, 52, 52);
    font-size:25px;
    padding-left:10px;
    padding-right:10px;
    padding-top: 10px;
} 



.ResourceInnerDivs {
    margin-top:50px;
}
