body {
  background-color: #d5eebb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New";
}

/*Home*/
#wise-words {
  margin-left: 111px;
  margin-top: 180px;
  width: 600px;
  display: inline-block;
  font-style: italic;
}

#QuoteAuthor {
  margin-left: 111px;
  margin-top: 5px;
  width: 600px;
  font-style: italic;
}

#Addiction {
  float: right;
  width: auto;
  height: 550px;
  margin-right: 111px;
  margin-top: 100px;
}

#WelcomeDiv {
  width: 600px;
  height: 500px;
  margin-top: 100px;
  margin-left: 111px;
  font-size: 15px;
}

#WelcomeDiv-t {
  font-size: 20px;
}

#OverviewDiv {
  margin-top: 1.4rem;
  line-height: 1.3;
}
