body {
  background-color: #d5eebb;
}

#HomeBody {
  height: 2900px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New";
}

/*Home*/
#wise-words {
  margin-left: 111px;
  margin-top: 180px;
  width: 600px;
  display: inline-block;
  font-style: italic;
}

#QuoteAuthor {
  margin-left: 111px;
  margin-top: 5px;
  width: 600px;
  font-style: italic;
}

#Addiction {
  float: right;
  width: auto;
  height: 550px;
  margin-right: 111px;
  margin-top: 100px;
}

#BWVine {
  float: right;
  width: auto;
  height: 500px;
  margin-right: 200px;
  margin-top: 0px;
}

#CleanLeaf {
  float: left;
  width: auto;
  height: 350px;
  margin-left: 10px;
}

#WelcomeDiv {
  width: 600px;
  height: 500px;
  margin-top: 100px;
  margin-left: 111px;
  font-size: 15px;
}

#WelcomeDiv-t {
  font-size: 20px;
}

#OverviewDiv {
  margin-top: 1.4rem;
  line-height: 1.3;
}

.section {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 17px;
  width: 1400px;
  margin: 0 auto;
  background-color: #7fc8a9;
  padding: 1.3rem 0 9.6rem 0;
  box-shadow: 10px 10px 0px #99d3ba;
}

.section-header {
  margin-bottom: 100px;
  font-size: 36px;
  margin-top: 17px;
  margin-left: 17px;
  font-weight: 700;
}

.step-number {
  font-size: 86px;
  font-weight: 600;
  color: #a5d9c3;
  margin-bottom: 1.2rem;
  padding-left: 50px;
  padding-top: 50px;
}

.step-number--1,
.step-number--2 {
  padding-bottom: 150px;
}

.step-number--1,
.step-number--2,
.step-number--3 {
  margin-left: 25px;
}

.step-number--3 {
  padding-bottom: 0;
}

.container {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.ending-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 600px;
  flex-wrap: wrap;
  color: white;
}

.clean-days {
  color: #fff;
}

#journey-btn {
  width: 199vh;
  height: 400px;
  margin-top: 20px;
  margin-bottom: auto;
  text-decoration: none;
  color: rgb(142, 202, 185);
  background: none;
  padding: 1.2rem 2.4rem;
  border:none;
  transition: all 0.3s;
  font-size: 60px;
}

#journey-btn:hover,
#journey-btn:active {
  background-color: #7fc8a9;
  color: white;
}

#GrapeVine {
  width: 400px;
  margin-top: 50px;
}

/*Start Btn*/

.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 800px;
  margin: 0;
}

.form-popup {
  margin-top: 40px;
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 999;
}

.form-container {
  max-width: 1000px;
  padding: 10px;
  background-color: rgb(74, 70, 95);
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #d6ffe8;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: rgb(171, 228, 191);
  outline: none;
}

.form-container .btn {
  background-color: #76dcb6;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  opacity: 0.8;
}

.CheckOut {
  display:flex;
  color: whitesmoke;
  justify-content: center;
  background-color: rgb(105, 98, 139);
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border: none;
  transition: all 0.3s;
}

.CheckOut:hover,
.CheckOut:active {
  background-color: #c6a4e3;
  color: rgb(63, 63, 63);
}



.form-container .cancel {
  background-color: #0e4a4e;
  margin-left: 200px;
  margin-right: 200px;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#InfoH1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* profile */

.parent-cont-prof {
  padding: 3rem;
}

.header-cont {
  margin: 0% 0% 5% 0%;
}

.graph-cont {
  background-color: #ecffce;
  width: 700px;
  height: 350px;
}

.clean-count-cont {
  background-color: #ecffce;
  width: 500px;
  height: 350px;
  text-align: center;
}

#clean-days {
  font-size: 200px;
  font-weight: lighter;
}

.info-cont {
  display: flex;
  justify-content: space-between;
}

.clean-count-head {
  margin: 8% 0% 8% 0%;
}

.info-cont div:hover {
  box-shadow: 5px 5px 0px #4f6034;
}

.info-cont div {
  transition: all 0.25s;
}

/* DRUG DATABASE */

.heading {
  margin: 36px 0;
  font-size: 45px;
  text-align: center;
}

.drug-img {
  width: 215px;
  height: auto;
  margin-left: 500px;
  margin-bottom: 24px;
}

.section-drug {
  background-color: #9eb8ad;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.drug-container {
  height: 514.23px;
  background-color: #d9d9d9;
  padding: 24px 48px;
  margin-bottom: 36px;
  box-shadow: 15px 10px 25px #555;
}

.drug-container p {
  margin-bottom: 12px;
  line-height: 1.1;
  font-size: 15px;
}

.drug-container h2 {
  margin-top: 20px;
}

.meth-container p {
  margin-top: 120px;
}

.herion-container p {
  margin-top: 74px;
}

.marijuana-container p {
  margin-top: 87px;
}

/*end End*/
