body {
  background-color: #d5eebb;
}

#HomeBody {
  height: 2900px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New";
}

/*Home*/
#wise-words {
  margin-left: 111px;
  margin-top: 180px;
  width: 600px;
  display: inline-block;
  font-style: italic;
}

#QuoteAuthor {
  margin-left: 111px;
  margin-top: 5px;
  width: 600px;
  font-style: italic;
}

#Addiction {
  float: right;
  width: auto;
  height: 550px;
  margin-right: 111px;
  margin-top: 100px;
}

#BWVine {
  float: right;
  width: auto;
  height: 500px;
  margin-right: 200px;
  margin-top: 0px;
}

#CleanLeaf {
  float: left;
  width: auto;
  height: 350px;
  margin-left: 10px;
}

#WelcomeDiv {
  width: 600px;
  height: 500px;
  margin-top: 100px;
  margin-left: 111px;
  font-size: 15px;
}

#WelcomeDiv-t {
  font-size: 20px;
}

#OverviewDiv {
  margin-top: 1.4rem;
  line-height: 1.3;
}

.number-text h1 {
  margin-left: 50px;
  margin-top: 75px;
}

.number-text {
  display: flex;
}

.section {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 17px;
  width: 100%;
  margin: 0 auto;
  color: rgb(247, 250, 223);
  background-color: #7fc8a9;
  padding: 1.3rem 0 9.6rem 0;
}

#Addiction {
  width: 600px;
  height: auto;
}

.section-header {
  margin-bottom: 100px;
  font-size: 36px;
  margin-top: 100px;
  margin-left: 100px;
  font-weight: 700;
  color: #0e4a4e;
}

.step-number {
  font-size: 86px;
  font-weight: 600;
  color: #a5d9c3;
  margin-bottom: 1.2rem;
  padding-left: 50px;
  padding-top: 50px;
}

.step-number--1,
.step-number--2 {
  padding-bottom: 150px;
}

.step-number--1,
.step-number--2,
.step-number--3 {
  margin-left: 25px;
}

.step-number--3 {
  padding-bottom: 0;
}

.container {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.ending-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  width: 600px;
  flex-wrap: wrap;
  color: white;
}

.clean-days {
  color: #fff;
}

#journey-btn {
  cursor: pointer;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(225, 255, 246);
  background-color: #427a62;
  padding: 1.2rem 2.4rem;
  border: none;
  transition: all 0.3s;
  font-size: 60px;
}

#journey-btn:hover,
#journey-btn:active {
  background-color: rgb(39, 71, 57);
  color: white;
}

#GrapeVine {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* profile */

.parent-cont-prof {
  padding: 2rem;
}

.header-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0% 0% 2% 0%;
}

#delete-prof{
  background-color: #e55737;
  border: none;
  color:white;
  margin:0% 2% 0% 2%;
  padding: 1%;
  transition: all 0.5s;
}

#delete-prof:hover{
  box-shadow: 5px 5px 0px #8e2710;
}

.graph-cont {
  background-color: #ecffce;
  width: 750px;
  padding: 0% 5% 0% 5%;
  text-align: center;
  height: 450px;
}

.upper-cont h3 {
  margin: 4.5% 0% 4.5% 0%;
  word-wrap: break-word;
}

#todays-dose {
  text-align: center;
}

.upper-cont {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  justify-content: space-evenly;
}

.clean-count-cont {
  background-color: #ecffce;
  width: 500px;
  height: 350px;
  text-align: center;
}

#clean-days {
  font-size: 200px;
  font-weight: lighter;
}

.info-cont {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.clean-count-head {
  margin: 8% 0% 8% 0%;
}

.info-cont-child:hover {
  box-shadow: 5px 5px 0px #4f6034;
}

.info-cont-child {
  transition: all 0.25s;
}

#dosageGraph {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  margin-bottom: 4%;
}

/* DRUG DATABASE */

.heading {
  margin: 36px 0;
  font-size: 45px;
  text-align: center;
  color:rgb(36, 36, 36);
}

.drug-img {
  width: 215px;
  height: auto;
  float: right;
}

.section-drug {
  background-color: #9eb8ad;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.drug-container {
  height: auto;
  background-color: #d9d9d9;
  padding: 24px 48px;
  margin-bottom: 36px;
  box-shadow: 10px 10px 0px #555;
}

.drug-container p {
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.25;
  font-size: 15px;
}

.drug-container li {
  line-height: 2.5;
}

/* Form */

#main-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#main-form h1 {
  margin: 3% 0% 1% 0%;
  text-align: center;
}
.form-input {
  border: none;
  margin: 1% 0% 1% 0%;
  text-align: center;
  font-size: 15px;
  width: 500px;
  height: 100px;
}

#submit-button {
  border: none;
  width: 150px;
  height: 60px;
  color: white;
  background-color: #0e4a4e;
  transition: all 0.5s;
  margin-bottom: 6%;
}

#submit-button:hover {
  box-shadow: 5px 5px 0px #0a2e31;
}


/* Stats */

.graph{
  width:700px;
  height:auto;
  background-color: #ecffce;
  border-radius: 5px;
  padding: 2%
}

#stats-parent-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainHeaderStat{
  margin:2.5%;
  color:rgb(46, 38, 57);
}

.cont-div{
  background-color: #0a2e31;
  width:850px;
  color:white;
  height:auto;
  padding: 5%;
  margin: 5%;
  box-shadow: 5px 5px 0px #041718;
}

.cont-div h2{
  margin:2%;
}

/*end End*/

::selection {
  background: #ff9e9e; /* WebKit/Blink Browsers */
}

.section-subheader {
  margin-bottom: 40px;
  color: #31214b;
}

.section-text {
  margin-left: 70px;
  margin-right: 300px;
  color: rgb(19, 30, 31);
}

/* FOOTER */

.footer-container {
  /* 1140px */
  max-width: 100%;
  margin: 0 auto;
}

.footer {
  padding: 64px 0;
  color:white;
  background-color: #041718;
}

.grid--footer {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  gap: 300px;
}

.logo-col {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.social-icon {
  height: 30px;
  width: 30px;
}

.copyright {
  font-size: 14px;
  line-height: 1.6;
  margin-top:16px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.address {
  margin-bottom: 12px;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-size: 16px;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #cce9dd;
}
/* forums */
.forums-title-wrap{
  padding: 10%;
  text-align: center;
}

.forums-title-wrap img{
  margin: 3%;
  height:300px;
  width:auto;
}
