<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js    "></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav-style.css') }}"
      rel="stylesheet"
    />
    <link rel="icon" href="{{ url_for('static', filename='images/vhabpng.png') }}">

    <title>vHab - a free, virtual rehab</title>
  </head>
  <body>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <a class="home nav-bar-element" href="/">home</a>
        <a class="forums-page nav-bar-element" href="/family">family help</a>       
        <a class="dose-calc-page nav-bar-element" href="/profile">daily dose</a>
        <a class="database-page nav-bar-element" href="/drug">drug database</a>
        <a class="forums-page nav-bar-element" href="/forums">forums</a>
        <a class="stats-page nav-bar-element" href="/stats">statistics</a>

      </div>

      <nav>
        <ul class="main-nav-list">
          <li>
            <a href="/resources"><button class="get-help">more resources</button></a>
          </li>
        </ul>
      </nav>
    </header>

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
