<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav-style.css') }}"
      rel="stylesheet"
    />
    <title>{% block tittle %}{% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div>
          <img
            src="{{ url_for('static', filename='images/vhabpng.png')}}"
            class="logo-img"
          />
        </div>
      </div>

      <nav>
        <ul class="main-nav-list">
          <li>
            <a href="#"><button class="get-help">more resources</button></a>
          </li>
        </ul>
      </nav>
    </header>

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
