{% extends "base.html" %} {% block title %} Drug {% endblock %} {% block content%}


<head>
    <title>Document</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/family.css') }}"
        rel="stylesheet"
    />
</head>
<body>
    <div class="h1-container">
        <h1 class = 'Tittle'>How to Help Someone Dealing With Addiction</h1>
    </div>
    <p>Knowing someone who has an addiction is not uncommon, but knowing the best way to help a loved one with an addiction can be confusing and even scary. When someone has an addiction, it can affect every aspect of their lives as well as the lives of their loved ones. You will inevitably be concerned about your loved one, and it can be difficult to know what to do and what not to do, but it’s important to remember that Recovery is a solution</p>

    <div class="do-dont-container">
        <h2 class="do-dont-container head">The Dos and Don’ts of Helping a Loved One With an Addiction</h2>
            
            <div class="do-dont-subheading">
                <p class="Para-text">Once you’ve noticed the signs of addiction in your loved one — like an Alcohol Addiction or an Opioid Addiction, for example — you’ll need to know how to talk to and treat them in a way that is positive and helpful. There are several ways to do this, some easy to practice and others that require a little more effort and understanding on your part. Here are a few dos and don’ts for helping a loved one deal with addiction:</p>
            </div>

            <div class="do-dont-block">
                <div class = "do-dont-content one">
                    <h3 class="do-dont-subheading one">Do: Have Compassion</h3>
                    <p p class="Para-text">Addiction is a disease. Normally, we wouldn’t fault someone with a physical disease, like diabetes or cancer — instead, we would likely be compassionate and willing to help them survive their illness. Addiction deserves the same compassion and understanding. Recognize that addiction isn’t a character flaw or a choice, but rather a disease</p>
                </div>

                <div class = "do-dont-content two">

                </div>                
            </div>
    </div>
</body>
</html>


{% endblock %}