{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}

<body id = 'HomeBody'>
<div>
  <img
    src="{{ url_for('static', filename='images/Addiction.png')}}"
    id="Addiction"
  />
  <div id="wise-words">
    <h1>“If you can quit for a day,</h1>
    <h1>you can quit for a lifetime.”</h1>
  </div>
</div>

<div id="QuoteAuthor">- Benjamin Alire Sáenz</div>

<div id="WelcomeDiv">
  <p id="WelcomeDiv-t">[ Welcome to vHab ]</p>

  <p id="OverviewDiv">
    vHab is a free online tool for struggling drug addicts looking to change
    their life. The easy-to-use daily dose reducer and clean counter helps
    addicts manage their lives without entering a state of withdrawal. Users can
    manage their addiction by following the daily dose reducer. The progress made will be shown neatly through means of a graph. The Clean
    Counter gives survivors a feeling of accomplishment as they look back at all
    they have done. vHab wasn't just made for drug addicts; but also concerned
    mothers, fathers, sons, daughters, and others. The family help center
    provides detailed instructions regarding how to help a loved one from
    addiction. The drug database to teaches all about
    specific drugs and understand how to counteract them. Lastly, vHab provides
    General info, including links/numbers to certified professionals if needed.
  </p>
</div>
<section class="section">
  <div class="main-content">
    <div class="container">
      <h1 class="section-header">What vHab offers:</h1>
      <div class="number-text">
        <p class="step-number step-number--1">01</p>
        <div>
          <h1 class="section-subheader">The Drug Database </h1>
          <p class="section-text">The Drug Database is database built into vHab which gives information on a certain type of drug. One can reference the database if they need more information on the health effects of the drug that they are taking, or they want to know more about. This data will help to inform people and families of the benefits and dangers of doing a certain drug.</p>
        </div>
      </div>
      
      <div class="number-text">
        <p class="step-number step-number--2">02</p>


        <div>
          <h1 class="section-subheader">The Daily Dose Reducer </h1>
          <p class="section-text">The Daily Dose Reducer is represented through a chart that shows the progress of one's dose reduction. One just has to give basic information, such as, name, drug being taken, and the daily dose taken.</p>
        </div>


      </div>
      <div class="number-text">
        <p class="step-number step-number--3">03</p>
        <div>
          <h1 class="section-subheader">The Clean Counter </h1>
          <p class="section-text">The Clean Counter shows how long you have been on your sobriety journey. This provides a dopamine reward whenever a new milestone has been reached. The dopamine reward is a harmless and beneficial substitute for the drug.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="enddiv" class="ending-div">
  <h1 id = 'ending-text'>So what are you waiting for?</h1>
  
  <img
  src="{{ url_for('static', filename='images/GrapeVine.png')}}"
  id="GrapeVine"
  />
</div>
  <div>

    <a href="/start"><button id="journey-btn" class="open-button">start your journey</button></a>

  </div>
</div>
<script     src="{{ url_for('static', filename='js/home.js')}}"></script>
</body>
{% endblock %}
