{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}

<body id = 'HomeBody'>
<div>
  <img
    src="{{ url_for('static', filename='images/Addiction.png')}}"
    id="Addiction"
  />
  <div id="wise-words">
    <h1>“If you can quit for a day,</h1>
    <h1>you can quit for a lifetime.”</h1>
  </div>
</div>

<div id="QuoteAuthor">- Benjamin Alire Sáenz</div>

<div id="WelcomeDiv">
  <p id="WelcomeDiv-t">[ Welcome to vHab ]</p>

  <p id="OverviewDiv">
    vHab is a free online resource for struggling drug addicts looking to change
    their life. The easy-to-use daily dose reducer and clean counter helps
    addicts manage their lives without entering a state of withdrawal. Users can
    manage their addiction by following the daily dose reducer. The resource
    helps eliminate drugs from one's life according to their needs. The Clean
    Counter gives survivors a feeling of accomplishment as they look back at all
    they have done. vHab wasn't just made for drug addicts; but also concerned
    mothers, fathers, sons, daughters, and others. The family help center
    provides detailed instructions regarding how to help a loved one from
    addiction. Make sure to check out the drug database to learn all about
    specific drugs and understand how to counteract them. Lastly, vHab provides
    General info, including links/numbers to certified professionals if needed.
  </p>
</div>
<section class="section">
  <div class="main-content">
    <div class="container">
      <h1 class="section-header">What vHab offers:</h1>
      <div class="number-text">
        <p class="step-number step-number--1">01</p>
        <div>
          <h1 class="section-subheader">The Drug Data Base </h1>
          <p class="section-text">The Drug Database is database built into vHab where it gives information on a certain type of drug. One can reference the database if they need more information on the health effects of the drug that they are taking, or they want to know more about. This data will help to inform people and families on the benefits and dangers of doing a certain drug.</p>
        </div>
      </div>
      
      <div class="number-text">
        <p class="step-number step-number--2">02</p>


        <div>
          <h1 class="section-subheader">The Daily Dose Reducer </h1>
          <p class="section-text">The Daily Dose Reducer is a chart that shows the amount of the daily dose of a certain drug that one takes and shows the daily progression of increase or decrease of the dose taken. One just has to give basic information, such as, name, drug being taken, and the daily dose taken. This can help track the progess of the user's reduction of the dose of a certain drug.</p>
        </div>


      </div>
      <div class="number-text">
        <p class="step-number step-number--3">03</p>
        <div>
          <h1 class="section-subheader">The Clean Counter </h1>
          <p class="section-text">The Clean Counter is a counter that shows how long it will take for the user to be "clean" of drugs. This is calcuated by The Daily Dose Reducer. How this helps is it finds the rate of the decrease of drug and by using that information and the original dose, it is able to find out how long it will take for the user to to zero milligrams of that drug and be "clean".</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="ending-div">
  <h1 id = 'ending-text'>So what are you waiting for?</h1>
  
  <img
  src="{{ url_for('static', filename='images/GrapeVine.png')}}"
  id="GrapeVine"
  />
</div>
  <div>

    <a href="/start"><button id="journey-btn" class="open-button">start your journey</button></a>

  </div>
</div>
<script     src="{{ url_for('static', filename='js/home.js')}}"></script>

</body>
{% endblock %}
