{% extends "base.html" %} 

{% block title %}Profile{% endblock %}

{% block content %}
<div class="parent-cont-prof">
    <div class="header-cont">
        <h1>welcome, Example</h1>
    </div>

    <div class="info-cont">
        <div class="graph-cont">
            <h3>drug</h3>
            <img src="">
        </div>
        <div class="clean-count-cont">
            <h1 class="clean-count-head">days clean</h1>
            <h1 id="clean-days" class="clean-count-head">0</h1>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/profile.js')}}"></script>

{% endblock %}