{% extends "base.html" %} 
{% block content %}
<div class="parent-cont-prof">
    <div class="header-cont">
        <h1>welcome, <span id="name"></span></h1>
        <button id="delete-prof" onclick="delete_prof()">delete profile</button>
    </div>
    <div class="info-cont">
        <div class="graph-cont info-cont-child">
            <div class="upper-cont">
                <h3 id="drug"></h3>
                <h3 id="percentage-loss"></h3>
            </div>
            <canvas id="dosageGraph"></canvas>
            <h2>Today's Dose: <span id="todays-dose"></span></h2s>
        </div>
        <div class="clean-count-cont info-cont-child">
            <h1 class="clean-count-head">days on journey</h1>
            <h1 id="clean-days" class="clean-count-head"></h1>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/profile.js')}}"></script>

{% endblock %}