{% extends "base.html" %} 

{% block title %}resources{% endblock %}

{% block content %}


<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/resources.css') }}"
            rel="stylesheet"
        />
        <body class="bg">
            <div class="title">
                <h1>Extra Resources</h1>
                <h1 class="plus">+</h1>
                <h1>Professional Help</h1>


                <div class="box-container">
                    <div id="help-lines" class="boxes">
                        <h1>Help Lines</h1>
                        <div class="ResourceDivs">
                            <div class="ResourceInnerDivs"><a href="tel:1-800-662-4357" class="ResourceLinks">1-800-662-4357</a> </div>
                            <div class="ResourceInnerDivs"><a href="tel:1-855-652-3737" class="ResourceLinks">1-855-652-3737</a> </div> 
                            <div class="ResourceInnerDivs"><a href="tel:888-495-9936" class="ResourceLinks">888-495-9936</a> </div>
                            <div class="ResourceInnerDivs"><a href="tel:1-800-238-2333" class="ResourceLinks">1-800-238-2333</a> </div>
                            <div class="ResourceInnerDivs"><a href="tel:877-733-2138" class="ResourceLinks">877-733-2138</a> </div>

                        </div>
                    </div>



                    <div id="websites" class="boxes">

                        <h1>Websites</h1>

                        <div class="ResourceDivs">
                            <div class="ResourceInnerDivs"><a href="https://americanaddictioncenters.org/rehab-guide/alcohol-drug-hotline" target="_blank" class="ResourceLinks">american-addiction-centers</a> </div>
                            <div class="ResourceInnerDivs"><a href="https://nida.nih.gov/" target="_blank" class="ResourceLinks">National-Instituteon-Drug-Abuse</a> </div>
                            <div class="ResourceInnerDivs"><a href="https://www.addictioncenter.com/" target="_blank" class="ResourceLinks">Addiction-Center</a> </div>
                            <div class="ResourceInnerDivs"><a href="https://oasas.ny.gov/" target="_blank" class="ResourceLinks">Office-of-Addiction-Services-and-Supports</a> </div>
                            <div class="ResourceInnerDivs"><a href="https://www1.nyc.gov/site/doh/health/health-topics/alcohol-and-drug-use-services.page" target="_blank" class="ResourceLinks">Drug-&-Alcohol-Use-Services</a> </div>
                        </div>
                    </div>



                    <div id="centers" class="boxes">
                        <h1>Centers</h1>
                        <div class="ResourceDivs">
                            <div class="ResourceInnerDivs"><a href="https://recoveryteam.org/?utm_source=gmb&utm_medium=organic&utm_campaign=trtlisting" target="_blank" class="ResourceLinks">Recovery Team</a></div>
                            <div class="ResourceInnerDivs"><a href="https://healthpathconsultingservices.com/index.html" target="_blank" class="ResourceLinks">Health-Path-Consulting-Services</a> </div>
                            <div class="ResourceInnerDivs"><a href="https://www.advhealth.com/?utm_source=Knack%20Media%20-%20Local%20Marketing&utm_medium=Website%20Button&utm_content=JerseyCity" target="_blank" class="ResourceLinks">Advanced Health</a></div>
                            <div class="ResourceInnerDivs"><a href="https://mountainside.com/locations/nyc-chelsea/?phone=6464537474&utm_source=gmb&utm_medium=organic&utm_campaign=gmb_chelsea" target="_blank" class="ResourceLinks">Mountainside</a></div>
                            <div class="ResourceInnerDivs"><a href="https://crcinst.com/" target="_blank" class="ResourceLinks">Crcinst Institute</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </head>
</html>

{% endblock %}